In [1]:
import pandas as pd

In [6]:
df = pd.read_parquet("../ETL/data/engineered/final_data_2025Q1.parquet")
df.head(20)

,side,log_dollar_value,role,is_10b5_1,log_size_vs_cap,label_up_market
3,sell,15.441086,OFFICER,0,-9.087956,1
4,sell,14.496378,DIRECTOR,0,-10.032665,1
5,buy,13.401964,OFFICER,0,-9.559271,1
6,sell,14.673079,OFFICER,1,-10.128313,0
7,sell,11.586464,DIRECTOR,1,-13.214937,0
8,sell,15.554449,OFFICER,1,-9.246943,0
9,sell,13.269491,OFFICER,0,-10.009910,0
10,sell,15.226362,OFFICER,0,-8.053038,0
11,sell,13.603320,DIRECTOR,0,-9.676081,0
19,sell,11.336200,OFFICER,0,-11.597717,1
21,buy,9.223750,DIRECTOR,0,-11.692817,0
25,buy,12.593479,OFFICER,0,-10.037918,0
27,sell,10.391492,OFFICER,0,-13.980250,0
28,sell,15.445075,OFFICER,0,-8.926637,0
29,buy,11.075717,OFFICER,1,-9.532828,0
30,buy,7.934603,OFFICER,1,-12.674285,0
31,sell,11.377804,DIRECTOR,0,-10.187357,1
37,sell,12.366070,DIRECTOR,0,-12.639231,0
38,sell,12.360806,DIRECTOR,0,-12.644495,1
39,sell,7.826363,DIRECTOR,0,-17.179333,1